.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  background-color: brown;
  padding: 10px 20px;
  border: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
}
.popover {
  position: relative;
  display: inline-block;
}
.popover-content {
  position: absolute;
  background-color: aqua;
  padding: 10px;
  left: -6px;
  top: 45px;
  opacity: 0;
}
.popover:hover .popover-content {
  opacity: 1;
}
.popover-content::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: aqua;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%) rotate(45deg);
}
